body {
  background-color: #dddddd;

  margin: 5px 20px 5px 20px;
}

div#Header {
  border-bottom-style: solid;
  border-bottom-width: thin;

  padding: 0px 20px 0px 20px;
}

div#Footer {
  clear: both;

  border-top-style: solid;
  border-top-width: thin;

  padding: 0px 20px 0px 20px;
}

div#MainContainer {
  background-color: #ffffff;

  border-style: solid;
  border-width: thin;
}

div#NavigationBar {
  float: left;

  width: 180px;
  padding: 0px 20px 0px 20px;

  margin-top: 0px;

  background-color: #eeeeee;
}

div#ContentBox {
  padding: 0px 20px 0px 20px;

  margin-left: 220px;
}

div#LatestActivity {
  border-style: solid;
  border-width: thin;

  float: right;

  padding: 0px 20px 0px 20px;

  max-width: 280px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

tr.alt td {
  background-color: #efefef; 
}

tr.over td {
  background-color: #fefefe;
}