<html>
  <head>
    <title>SampleTrackr | {{ navigation_name }}</title>
    <link
       rel="stylesheet"
       type="text/css"
       href="/static/base.css" />
  </head>

  <body>
    <div id="MainContainer">
      <h1>
	SampleTrackr
      </h1>
      <p>
	The definitive tracker of samples in film, music, and other forms of art.
      </p>
      <hr />
      <div id="NavigationBar">
	<dl>
	  <dt>Sample Sources</dt>
	  <dd>
	    <a href="/sources/frequency.html">
	      By Frequency
	    </a>
	  </dd>
	  <dd>
	    <a href="/sources/name.html">
	      By Name
	    </a>
	  </dd>
	  <dd>
	    <a href="/sources/type.html">
	      By Type
	    </a>
	  </dd>
	  <dd>
	    <a href="/sources/annotated.html">
	      Annotated with Media
	    </a>
	  </dd>
	  <dd>
	    <a href="/sources/random.html">
	      Random Source
	    </a>
	  </dd>

	  <dt>Sample Uses</dt>
	  <dd>
	    <a href="/uses/frequency.html">
	      By Frequency
	    </a>
	  </dd>
	  <dd>
	    <a href="/uses/name.html">
	      By Name
	    </a>
	  </dd>
	  <dd>
	    <a href="/uses/type.html">
	      By Type
	    </a>
	  </dd>
	  <dd>
	    <a href="/uses/annotated.html">
	      Annotated with Media
	    </a>
	  </dd>
	  <dd>
	    <a href="/uses/random.html">
	      Random Use
	    </a>
	  </dd>
	  <dt>About SampleTrackr</dt>
	  <dd>
	    <a href="/about/history">
	      History
	    </a>
	  </dd>
	  <dd>
	    <a href="/about/technology">
	      Technology
	    </a>
	  </dd>
	  <dd>
	    <a href="/about/faq">
	      F.A.Q.
	    </a>
	  </dd>
	  <dd>
	    <a href="/about/legalese">
	      Legalese
	    </a>
	  </dd>
	</dl>
      </div>
      <div id="ContentBox">
	<!-- This should be a gadget. -->
	<div id="LatestActivity">
	  <h2>
	    Latest Activity
	  </h2>
	  <hr />
	  <dl>
	    <dt>
              Sources
            </dt>
            <dd>
              Five minutes ago: Speech by Ronald Reagan
            </dd>
	    <dd>
	      Yesterday: Unknown Speech in East German Politburo
	    </dd>
	    <dt>
	      Uses
	    </dt>
	    <dd>
	      Two days ago: Pink Floyd - Some Song
	    </dd>
	  </dl>
	</div>
	<p>
	  Welcome to SampleTrackr!
	</p>
	<p>
	  This website catalogs both the use and the source of samples
	  across various media, particularly music.  It aims to be the most
	  comprehensive of its type across the world.
	</p>
	<p>
	  You are welcome and encouraged to contribute.  If there is a glaring
	  omission or an error, please sign-in and fix it.  The more information
	  we have, the more useful of a repository this will be to you.
	</p>
      </div>
    </div>
  </body>
</html>
