<html>
  <!-- -*- mode: HTML -*- -->
  <head>
    <title>
      SampleTrackr | {{ navigation_name }}
    </title>
    <!-- Items will be in 'google' namespace. -->
    <link
       rel="stylesheet"
       type="text/css"
       href="/static/base.css" />
    <script
       type="text/javascript"
       src="http://www.google.com/jsapi?key=ABQIAAAAAEvC4jPlwgotwmJlQtRojhTWq2iZe2bMg_N0t14dCDE_0domIhR5wjPKRytypC9H49m37uFVZSgWvg">
    </script>
    <script
       type="text/javascript">
      google.load("jquery", "1.4.0");
    </script>
  </head>

  <body>
    <div id="MainContainer">
      <div id="Header">
        <h1>
          <a
             href="/">
       	    SampleTrackr
          </a>
        </h1>
        <p>
          The definitive tracker of samples in film, music, and other forms of
          art.
        </p>
      </div>
      <div id="NavigationBar">
        <dl>
          <dt>Sample Sources</dt>
          <dd>
            <a href="/sources/search?sort=frequency">
              By Frequency
            </a>
          </dd>
          <dd>
            <a href="/sources/search?sort=title">
              By Title
            </a>
          </dd>
          <dd>
            <a href="/sources/search?sort=type">
              By Type
            </a>
          </dd>
          <dd>
            <a href="/sources/search?sort=annotated">
              Annotated with Media
            </a>
          </dd>
          <dd>
            <a href="/sources/search?method=random">
              Random Source
            </a>
          </dd>

          <dt>Sample Uses</dt>
          <dd>
            <a href="/uses/search?sort=frequency">
              By Frequency
            </a>
          </dd>
          <dd>
            <a href="/uses/search?sort=title">
              By Title
            </a>
          </dd>
          <dd>
            <a href="/uses/search?sort=type">
              By Type
            </a>
          </dd>
          <dd>
            <a href="/uses/search?sort=annotated">
              Annotated with Media
            </a>
          </dd>
          <dd>
            <a href="/uses/search?method=random">
              Random Use
            </a>
          </dd>
          <dt>About SampleTrackr</dt>
          <dd>
            <a href="/about/history">
              History
            </a>
          </dd>
          <dd>
            <a href="/about/technology">
              Technology
            </a>
          </dd>
          <dd>
            <a href="/about/faq">
              F.A.Q.
            </a>
          </dd>
          <dd>
            <a href="/about/legalese">
              Legalese
            </a>
          </dd>
          <dd>
            <a href="/about/contact">
              Contact
            </a>
          </dd>
        </dl>
      </div>
      <div id="ContentBox">
   	  {{ content }}
      </div>
      <div id="Footer">
        <p>
          Insert a jazy comment.
        </p>
      </div>
    </div>
  </body>
</html>
